html{
    background-color: #050324;
    font-family: "Montserrat",sans-serif;
    color: #38C88C;
}
.pageTitle{
    color: #38C88C;
    font-size: 30px;
    display: block;
}
.aligner{
    text-align: center;
    width: min-content;
    margin: auto;
}
.user{
    width: 400px;
    height: 40px;
    outline: none;
    border: none;
    background-color: transparent;
    color: #38C88C;
    border-bottom: 1px solid #38C88C;
    display: inline-block;
    font-size: 200%;
}
.cyan{
    color:#38C88C;
    font-size: 300%;
    cursor: pointer;
}

.noshow{
    text-decoration: none;
    color:#38C88C;
    cursor: pointer;
}
.cent{
    margin-top: 5%;
}
.answer{
    background-color: transparent;
    border: none;
    outline: none;
    width: 17em;
    border-bottom: 1px solid #38C88C;
    color: #38C88C;
    margin-left: 30px;
}
.checkcon{
    display: inline-flex;
    align-items: center;
}
.checkcon label{
    cursor: pointer;
    display: flex;
}
.checkcon input[type="checkbox"]{
    opacity: 0;
    position: absolute;
}

.checkcon label::before{
    cursor: pointer;
    content: "";
    width: 1em;
    height: 1em;
    border-radius: 0.15em;
    margin-right: 0.5em;
    border: 0.05em solid white;
    transition: background-color 0.5s ease;
}

.checkcon label:hover::before{
    background-color: #03f490;
}
.checkcon input[type="checkbox"]:focus + label::before{
   box-shadow: 0 0 10px #38C88C; 
}
.checkcon input[type="checkbox"]:checked + label::before{
    content: '\002714';
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #38C88C;
}

.stat{
    margin-bottom: 10px;
    display: none;
    transition: box-shadow 0.4s ease;
}
.themeopt{
    color: #38C88C;
    --tw-bg-opacity: 1;
    background-color: rgb(24 24 27/var(--tw-bg-opacity))
}
.theme{
    background-color: transparent;
    outline: none;
    color: #38C88C;
    border:none;
}
::-webkit-scrollbar {
    background-color: transparent;
    width: .7em;
    height: .4em
}

::-webkit-scrollbar-track {
    background-color: #18181b
}

::-webkit-scrollbar-thumb {
    transform-style: preserve-3d;
    background-color: #38C88C;
    border-radius: 50px;
    border: 2px solid #18181b
}

::-webkit-scrollbar-thumb:hover {
    background-color: #03f490;
}

::-webkit-scrollbar-thumb:active {
    background-color: #23dc73
}

::-webkit-scrollbar-corner {
    background-color: transparent
}

.switch{
    border-radius: 7px;
    border: 2px solid #03f490;
    background-color: #050324;
    color: #23dc73;
    transition: background-color 0.4s ease;
    width: 10em;
    text-align: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
    margin-bottom: 10px;
    display: inline-flex;
}
.invis{
    opacity: 0;
    width: 0;
    height: 0;
}
.toggle:checked + .switch{
    background-color: #03f490;
    color:#217753
}
.imgToggle:checked + .stat{
    background-color: transparent;
    border-radius: 0.3em;
    box-shadow: 0 0 20px #03f490;
}